@font-face {
    font-family: KHMenu;
    src: url(fonts/KHMenu.otf);
}

@font-face {
    font-family: KHGummi;
    src: url(fonts/KHGummi.otf);
}

:root {
    --bg: #00000e;
    --bg-blue: #027AEC;
    --label-blue: #0249B7;
    --bg-yellow: #FEC600;
    --dark-blue: #002E8E;
    --off-black: #1E1E1E;
    --deep-red: #D00305;
    --mid-green: #038F5D;
    --bright-green: #24BD0D;
    --text-orange: #F69B0D;
    --text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
    --title-text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--bg);
    color: white;
    font-family: "KHMenu", Arial, sans-serif;
    padding: 20px;
}

.container,
nav {
    margin: auto;
    max-width: 1140px;
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

nav a {
    color: #FFF;
    font-size: 0.75rem;
    text-decoration: none;
    font-family: "KHGummi", "KHMenu", Arial, sans-serif;
    text-transform: uppercase;
    transition: 250ms all ease;
    text-shadow: var(--title-text-shadow);
}

nav a:hover {
    color: var(--bg-yellow);

}
nav .links{
    display: flex;
    gap: 1rem;
}

h1,
h2 {
    font-family: "KHGummi", "KHMenu", Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
    text-shadow: var(--title-text-shadow);
}

h3,
h4 {
    line-height: 1.1;
}


span.text-orange {
    color: var(--text-orange);
}

input,
select,
button {
    background: #333;
    color: white;
    border: none;
    font-family: "KHMenu", Arial, sans-serif;
    text-shadow: var(--text-shadow);
}

select {
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

.title {
    margin-top: 1rem;
    text-align: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7rem;

}

.logo-wrapper img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.logo-wrapper h1 {
    margin-top: -7rem;
    font-weight: 400;
    width: auto;
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.5rem;
    background-color: var(--deep-red);
    clip-path: polygon(15px 0%, 100% 0, 100% 75%, calc(100% - 15px) 100%, 0 100%, 0 25%);
}

.background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.background::after {
    content: "";
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
    background-size: 7px 7px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes sq1 {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
        transform: translateX(25%);
    }
}

@keyframes sq2 {
    0% {
        opacity: 0;
        left: 0;
    }

    25% {
        opacity: 1;
        left: 100%;
    }

    100% {
        opacity: 0;
        left: 100%;
    }
}

@keyframes sq3 {
    0% {
        opacity: 0;
        left: 0;
    }

    25% {
        opacity: 1;
        left: 90%;
    }

    50% {
        opacity: 0;
        left: 50%;
    }

    100% {
        opacity: 0;
        left: 0;
    }
}

.sq {
    height: 100vh;
    width: 200px;
    position: absolute;
    display: block;

    opacity: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--label-blue) 95%, var(--label-blue) 100%);

}

.sq.sq1 {
    left: 0;
    animation: sq1 3s ease 1s infinite alternate;
}

.sq.sq2 {
    left: 2%;
    animation: sq1 3s ease 3s infinite alternate;
}

.sq.sq3 {
    left: 5%;
    animation: sq1 3s ease 5s infinite alternate;
}

.sq.sq-run-1 {
    left: 0%;
    animation: sq2 20s ease infinite forwards;
}

.sq.sq-run-2 {
    left: 0%;
    animation: sq2 30s ease 4s infinite forwards;
}

.sq.sq-run-3 {
    left: 0%;
    animation: sq2 30s ease 5s infinite forwards;
}

.sq.sq-rerun-1 {
    left: 0%;
    animation: sq3 30s ease 6s infinite forwards;
}

/* Toggle switch styling */
.search-mode-toggle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.radio-wrapper label {
    width: 200px;
    background-color: #111;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
    clip-path: polygon(6% 0%, 50.2% 0%, 100% 0%, 100% 85%, 92.8% 100%, 0% 100%, 0% 15%);
    position: relative;
    overflow: visible;
    cursor: pointer;
    transition: 250ms all ease;
}

.radio-wrapper label:hover {
    color: red;
}

.radio-wrapper input:checked+label:hover {
    color: #FFF;
}

.radio-wrapper input {
    display: none;
}

.radio-wrapper input:checked+label {
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

@keyframes selected-circle {
    0% {
        offset-distance: 0%;
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
        offset-distance: 100%;
    }
}

.radio-wrapper input:checked+label::after,
.btn.highlight:after {
    display: block;
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #FFF567;
    filter: blur(5px);
    z-index: 2;
    top: 10px;
    right: 10px;
    motion-path: path('M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0');
    offset-path: path('M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0');
    animation: selected-circle 3000ms infinite alternate ease-in-out;
}

#commands-wrapper {
    margin-top: 3rem;
}

.dropdown-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-wrapper label {
    background-color: var(--label-blue);
    min-width: 175px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.5rem 0 0.75rem;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
    font-family: "KHGummi", Arial, sans-serif;
    text-shadow: var(--title-text-shadow);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 2px 3px 2px rgba(255, 255, 255, 0.2);
    clip-path: polygon(0% 0%, 150px 0%, 100% 50%, 150px 100%, 0% 100%, 0% 53.8%)
}

.dropdown-wrapper label>span {
    margin-left: 0.5rem;
}

.dropdown-wrapper.item-dropdown-wrapper label {
    background-color: var(--bright-green);
}

.dropdown {
    position: relative;
    display: block;
    width: calc(100%);
    margin-left: -0.5rem;
}

.dropdown .icon-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1.25rem;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;

}


.dropdown.item-dropdown input {
    background: var(--mid-green);
}

select option {
    padding: 8px;
    cursor: pointer;
}

select option:hover {
    background: #444;
}

.dropdown input:focus+select,
.dropdown input+select:hover {
    display: block;
    /* Show when input is focused */
}

/* Custom Dropdown Styles */
.custom-dropdown {
    position: relative;
    width: 100%;
    user-select: none;
}

.custom-dropdown.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.dropdown-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: 45px;
    padding: 0.5rem 1rem 0.5rem 2.75rem;
    background: var(--dark-blue);
    color: white;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 24px 51%, 0% 0%);
    text-shadow: var(--text-shadow);
    font-size: 1.1rem;
}

.item-dropdown-wrapper .dropdown-header {
    background: var(--mid-green);
}

.dropdown-search {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 8px;
    width: 100%;
}

.recipe-plus {
    font-family: KHMenu;
    font-size: 1.6rem;
    color: #002E8E;
}

.arrow {
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s;
}

.custom-dropdown.active .arrow {
    transform: rotate(-135deg);
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: #002d8ed0;
    color: white;
    overflow-y: auto;
    border: none;
    z-index: 1000;
}

.custom-dropdown.active .dropdown-list {
    display: block;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-item-icon {
    width: 16px;
    height: auto;
}

.dropdown-item-icon .type-icon {
    width: 100%;
    object-fit: contain;
}

.dropdown-item:hover {
    background-color: #ffffff57;
}

.dropdown-item.hidden {
    display: none;
}


.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

/* You may need to adjust these styles to match your existing design */
.text-orange {
    color: #ff7700;
}



#commands-wrapper {
    display: flex;
    align-items: flex-start;
}

#meld-menu,
#command-list-wrapper {

    width: 50%;

}

#meld-menu .content,
#command-list-wrapper .content {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}

#command-list-wrapper h2 {
    color: var(--deep-red);
}

#meld-menu {
    position: relative;


}

#meld-menu .content {
    padding: 1rem 4rem 1rem 1rem;
}

#meld-menu .content::after {
    display: block;
    z-index: 3;
    right: 1rem;
    bottom: 0;
    top: 50%;
    position: absolute;
    content: "";
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid var(--deep-red);
    height: 20px;
    width: 20px;
}

#meld-menu h2:after {
    position: absolute;
    margin-top: 0.5rem;
    display: block;
    content: "";
    width: 95%;
    height: 2px;
    background-color: #A3A693;
}

#meld-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: var(--bg-blue);
    clip-path: polygon(0% 0%, 60% 0%, 71.6% 48px, 100% 48px, 100% 100%, 49.9% 100%, 0% 100%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#meld-menu button {
    background-color: var(--deep-red);
    padding: 0.5rem 2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 25rem;
    font-family: "KHGummi", Arial, sans-serif;
}

#command-list-wrapper {
    background-color: var(--bg-yellow);
    padding: 1rem;
    border-radius: 8px;
    min-height: 500px;
    clip-path: polygon(60% 0%, 70.7% 48px, 100% 48px, 100% 100%, 40% 100%, 29.1% calc(100% - 48px), 0% calc(100% - 48px), 0% 0%);
}

#result,
#ingredients-result {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 3rem;
    padding-right: 1rem;
    scrollbar-gutter: stable both-edges;
}

/* #result::after,
		#ingredients-result::after{
			content:"";
			display: block;
			height: 10px;
			width: 100%;
			position: absolute;
			bottom: 3rem;
			left: 0;
			right: 0;
			background: linear-gradient(0deg, rgba(254,198,0,1) 0%, rgba(254,198,0,0) 100%);
		} */
/* width */
#result::-webkit-scrollbar,
#ingredients-result::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#result::-webkit-scrollbar-track,
#ingredients-result::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #937714;
    padding: 0.1rem;
}

/* Handle */
#result::-webkit-scrollbar-thumb,
#ingredients-result::-webkit-scrollbar-thumb {
    border-radius: 8px;
    transition: 250ms all ease;
    background: #FFDE69;
}

/* Handle on hover */
#result::-webkit-scrollbar-thumb:hover,
#ingredients-result::-webkit-scrollbar-thumb:hover {
    background: #FFF;
}

.command-stats {
    display: flex;
    gap: 1rem;
}

.command-stats img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 2px 3px 2px rgba(255, 255, 255, 0.2);
}

.command-list-item .command-stats h6 {
    margin: 0;
    /* color: var(--deep-red); */
    font-size: 1.2rem;
    font-family: "KHGummi", Arial, sans-serif;
    text-shadow: var(--title-text-shadow);
    margin-bottom: 1rem;
}

.command {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--dark-blue);
    padding: 0.5rem 1rem;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    clip-path: polygon(12px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 12px);
    margin-bottom: 0.25rem;
    text-shadow: var(--text-shadow);
    font-size: 1.1rem;
    width: 100%;
}

.ability {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: linear-gradient(90deg, #FEC600 0%, rgba(0, 0, 0, 0) 20.39%), #1E1E1E;
    padding: 0.25rem 0.25rem 0.25rem 4rem;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    text-shadow: var(--text-shadow);
    font-size: 1.1rem;
}

.type-icon {
    height: 20px;
}

.command .type-icon,
.ability .type-icon {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.recipe-ingredients {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#faq-content, #why-content {
    margin: 3rem 0;
}

#faq-content h1, #why-content h1 {
    font-size: 1.1rem;
}

#faq-content .text, #why-content .text {
    padding: 3rem;
    background: linear-gradient(0deg, rgba(4, 1, 161, 0.75) 0%, rgba(2, 1, 87, 0.75) 100%);
    backdrop-filter: blur(20px);
    border-radius: 25px;
}

#faq-content .text h2, #why-content .text h2 {
    margin-bottom: 2rem;
}


.faq {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 2rem;
}

.faq:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.text a {
    color: var(--bg-yellow);
    transition: 250ms all ease;
}
.text a:hover {
    color: var(--text-orange);
}

.faq p,
.faq ul li {
    color: #eee;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5em 0;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

table th, table td {
  padding: 0.75em;
  text-align: left;
  border: 1px solid #444;
}

table th {
  background-color: #333;
}



#guide {
    margin: 3rem 0;
}


#guide h1 {
    font-size: 1.1rem;
}

#guide .text h2 {
    font-size: 1rem;
    margin: 1rem 0 2rem;
}

#guide .text {
    padding: 3rem;
    background: linear-gradient(0deg, rgba(4, 1, 161, 0.75) 0%, rgba(2, 1, 87, 0.75) 100%);
    backdrop-filter: blur(20px);
    border-radius: 25px;
}

#guide .text p a,
#guide .text ul li a,
#guide .text td a {
    color: var(--bg-yellow);
}

footer {
    text-wrap: pretty;
    margin-top: 3rem;
    text-align: center;
    font-size: 0.7rem;
    color: #ffffffb4;
}

footer a {
    color: #ffffffd2;
    font-size: 0.6rem;
}

footer .footer-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom:2rem;
    margin-bottom: 2rem;
    border-bottom:1px solid rgba(255,255,255,0.5);
}

footer .footer-nav a{
    font-size:1rem;
    color:var(--bg-yellow);
    text-decoration: none;
    transition: 250ms all ease;
}

footer .footer-nav a:hover {
    color: #FFF;
    text-decoration: underline;
}

#cookie-banner {
    display: none;
    position: fixed;
    margin: auto;
    bottom: 1rem;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(4, 1, 161, 1) 0%, rgba(2, 1, 87, 1) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 10;
    width: 90%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 2px 3px 2px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

#accept-cookies,
#decline-cookies,
a.btn {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    background-color: var(--bg);
    border-radius: 25px;
    border: 2px solid transparent;
    padding: 1rem 3rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 2px 3px 2px rgba(255, 255, 255, 0.2);
    transition: 250ms all ease;
    position: relative;
}

#accept-cookies:hover,
#decline-cookies:hover,
a.btn:hover {
    color:#FFF;
    background: linear-gradient(0deg, rgba(154, 1, 2, 1) 0%, rgba(126, 2, 0, 1) 100%);
    border: 2px solid var(--deep-red);
}

.regular-text-content h2 {
    font-family: "KHMenu", Arial, sans-serif;
    text-transform: none;
    margin-top: 2rem;
}

.regular-text-content a {
    color: var(--bg-yellow);
}

@media screen and (max-width:991px) {
    .logo-wrapper {
        margin-bottom: 2rem;
    }

    #commands-wrapper {
        flex-direction: column;
        gap: 0;
    }

    #command-list-wrapper {
        margin-top: -3rem;
    }

    #meld-menu,
    #command-list-wrapper {
        width: 100%;
    }

    #meld-menu .content {
        padding: 1rem 0.5rem 6rem;
    }

    #meld-menu::before,
    #command-list-wrapper {
        clip-path: polygon(252px 0%, 300px 48px, 100% 48px, 100% 100%, 300px 100%, 252px calc(100% - 48px), 0% calc(100% - 48px), 0% 0%)
    }

    #meld-menu .content::after {
        top: unset;
        right: 50px;
        left: unset;
        margin: auto;
        transform: rotate(90deg);
    }

    #meld-menu h2,
    #command-list-wrapper h2 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:850px) {}


@media (max-width: 768px) {

}
@media screen and (max-width:767px) {
    nav .logo a {
        font-size: 0.6rem;
    }

    .title .text {
        font-size: 0.9rem;
        text-align: left;
    }

    #meld-menu h2:after {
        margin-top: 1rem;
    }

    #meld-menu h2,
    #command-list-wrapper h2 {
        font-size: 1.1rem;
    }

    .dropdown-wrapper:first-of-type {
        margin-top: 0.75rem;
    }

    .dropdown-header {
        padding: 0.5rem 1rem 0.5rem 2rem;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 18px 51%, 0% 0%);
    }

    .dropdown-wrapper label {
        font-size: 0.8rem;
        min-width: 130px;
        clip-path: polygon(0% 0%, 110px 0%, 100% 50%, 110px 100%, 0% 100%, 0% 53.8%);
    }

    .dropdown-search {
        font-size: 0.75rem;
    }
        #guide .text{
        padding: 2rem 1.5rem;
    }
  table, thead, tbody, th, td, tr {
    display: block;
  }

  table thead {
    display: none;
  }

  table tr {
    padding: 0.75em;
  }

  table td {
    padding-left: 50%;
    position: relative;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.75em;
    top: 0.75em;
    font-weight: bold;
    color: #ccc;
    white-space: nowrap;
  }
}

@media screen and (max-width:575px) {
    .background {
        opacity: 0.7;
    }

    .sq.sq1 {
        left: -80px;
    }

    .sq.sq2 {
        left: -60px;
    }

    .sq.sq3 {
        left: -40px;
    }

    .command-list-item {
        position: relative;
    }

    .recipe-plus {
        position: absolute;
        margin: auto;
        top: 35px;
        bottom: 0;
        left: 0;
    }

    .recipe-ingredients {
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.05rem;
    }

    .recipe-ingredients .command {
        width: 95%;
    }

    .recipe-ingredients+.ability {
        margin-left: auto;
        width: 95%;
    }

    #faq-content .text {
        padding: 2rem 1.5rem;
    }

    .faq p,
    .faq ul li {
        font-size: 0.9rem;
    }

    .footer-nav{
        flex-direction: column;
        gap: 0.5rem;
    }

    #meld-menu .content::after {
        height: 15px;
        width: 15px;
        right: 25px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid var(--deep-red);
    }
}