<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7650631025891864"
     crossorigin="anonymous"></script>

<div style="max-height: 90px; overflow: hidden; min-width: 300px;">
    <!-- Horizontal banner -->
    <ins class="adsbygoogle"
         style="display:block;min-width:300px;max-height:90px;"
         data-ad-client="ca-pub-7650631025891864"
         data-ad-slot="5024560180"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
</div>

<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>